.center{
    display: block;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

.size-image{
  img{
    width: 1000px;
  }
}

.title {
  font-size: 4em;
  font-weight: bold;
}
